* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1772536888848-c0e7f0f6cf39?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
}

/* Dark Overlay */
.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Booking Box */
.booking-box {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.booking-box h1 {
    margin-bottom: 10px;
}

.booking-box p {
    margin-bottom: 20px;
    color: gray;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #ff7b00;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #e66900;
}